.header {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 100;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.31);
}

.hederContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLogo {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.headerLogo:link {
    text-decoration: none;
}

.headerLogoBrandName {
    display: inline-block;
    color: #000;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}

.headerLogoBrandSlogan {
    display: inline-block;
    color: #c2c2c2;
    font-size: 14px;
    line-height: 1;
    margin-top: -5px;
}

.headerNavList {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.headerNavListItem {
    cursor: pointer;
    margin-left: 28px;
    padding: 0 20px 0;
    color: #1972c6;
}

.headerNavListItem:hover {
    color: #ed2d2d
}

.headerNavListItem:link {
    text-decoration: none;
}

.itemActive {
    color: #ed2d2d
}

.iconWrap {
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.iconSearch {
    cursor: pointer;
    width: 20px;
    height: 20px;
    color: #1972c6;
}

.iconSearch:hover {
    color: #ed2d2d
}

