.ourAdvantages {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ourAdvantagesVideo {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: -2;
    
}

.ourAdvantagesVideo::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.ourAdvantagesContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ourAdvantagesContentTitle {
    font-weight: bold;
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 78px;
}

.ourAdvantagesContentAchievs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.achievItem {
    display: flex;
    flex-direction: column;
    width: 110px;
    color: #ffffff;
    text-align: center;
}

.achievItemShape {
    width: 110px;
    height: 110px;
    border: solid #ffffff 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    transition: all 0.2s;
}

.achievItemShape:hover {
    transform: scale(1.1, 1.1);
}

.achievItemSub {
    font-size: 20px;
    font-weight: lighter;
}